/* google font link */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom-position{
position: relative;
}
/* our package section hot deal  */
.hot-deal{
  position: absolute;
  top: -20px;
  right: 60px;
  background: #000;
  border-radius: 30px;
  padding: 10px 30px;
  text-transform: uppercase;
}
/* our packages section toaster */
.toaster-parent{
  position: relative;
}
.toaster-position{
  position: absolute;
  top: 0;
  right:0;
  z-index: 1;
}
.toast-after{position: relative;}
.toast-after::after{
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background:#12cbc4;
}
/* contact us section background */
.contact-bg{
  background-image: url(../resources/orhers-img/contact-bg.jpg);
  background-position:right center;
  background-repeat: no-repeat;
  background-size:cover;
}
.contact-input{
  width: 500px;
  margin: auto;
}

footer{
  background: #000;
  color: #fff;
}

/* media query for input */
@media only screen and (max-width: 600px) {
  .contact-input{
    width: 100%;
  }
}
