/* google font link */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif; */
body {
  font-family: "Bebas Neue", cursive;
}
.carousel-bg {
 background: rgba(0, 0, 0, 0.794);
  mix-blend-mode:overlay;
}
.custom-position{
position: relative;
}
.hot-deal{
  position: absolute;
  top: -20px;
  right: 60px;
  background: #000;
  border-radius: 30px;
  padding: 10px 30px;
  text-transform: uppercase;
}

.contact-bg{
  background-image: url(../resources/orhers-img/contact-bg.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size:cover;
}
.contact-input{
  width: 300px;
  margin: auto;
}
